* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  /* position: fixed;
        left: 345px;
        width: calc(100-345px);
        top: 0;
        z-index: 100; */
}

header h2 {
  color: #252733;
}

.user-wrapper {
  display: flex;
  align-items: center;
}

.user-wrapper img p {
  border-radius: 50%;
  margin-right: 0.1rem;
}

.user-wrapper h4 {
  margin-bottom: 0rem !important;
  margin-right: 20px;
}

.header_icon {
  margin-right: 20px;
  border-right: 3px solid #dfe0eb;
}

.icon_margin {
  margin-right: 20px;
}

.list_card {
  background-color: #fff;
  margin-top: 30px;
  border-radius: 8px;
  border: 2px solid #dfe0eb;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.list_header_align {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 40px;
  margin-top: 20px;
}

.new_activity_btn {
  padding: 10px 15px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
  background-color: #0cbbc7;
  border: none;
}

.sort_filter_align {
  display: flex;
  justify-content: end;
}

.flex {
  display: flex;
  margin-right: 20px;
}
.sort_icon {
  margin-right: 10px;
  color: #c5c7cd;
}

.filter_icon {
  margin-right: 10px;
  color: #c5c7cd;
}

.filters_color {
  color: #4b506d;
  font-size: 20px;
}

.icon_align {
  display: flex;
}

.header {
  color: #9fa2b4;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px solid #dfe0eb;
}

.image-align {
  margin-right: 10px;
}

.text {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 50px;
}

.right_margin {
  margin-right: 30px;
}

.list_align {
  padding: 10px;
  border-bottom: 1px solid #dfe0eb;
  color: #252733;
}

.bottom_number {
  padding: 20px;
  display: flex;
  color: #9fa2b4;
}

.color {
  margin-left: 10px;
  color: #4b506d;
}

.align_end {
  padding: 20px;
  display: flex;
}

.gray {
  color: #9fa2b4;
}

.selected {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #dfe0eb;
  color: #252733;
  background-color: #edfeff;
}

.flex_end {
  display: flex;
  justify-content: flex-end;
}
